@use '../abstracts' as *;

footer {
    @include center-content;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.footer-links {
    display: flex;
    gap: 1rem;

    > a {
        @include button-effects(fill);

        > svg {
            width: 2rem;
            height: 2rem;
            fill: inherit;    
        }
    }
}