footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.footer-links {
    display: flex;
    gap: 1rem;

    svg {
        width: 2rem;
        height: 2rem;
        fill: var(--font);    
    }
}