@use '../abstracts' as *;

.player-boards-container {
    @include center-content;
    flex-wrap: wrap;
    gap: 3rem;

    > .board-container {
        display: flex;
        gap: 2rem;

        > .fleet-container {
            @include center-content;
            flex-direction: column;
            gap: 2rem;
        }
    }
}