header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;

    > button:first-child {
        justify-self: left;
        grid-column: 1;
    }

    > button:last-child {
        justify-self: right;
        grid-column: 2;
    }
}