main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
}

.action-text {
    color: var(--secondary);
    font-weight: bold;
}