main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;

    > .player-name-input {
        align-self: flex-end;
        padding: 0 2rem;
    }
}
