@use '../abstracts' as *;

.sound-button {
    svg:first-child {
        display: none;
    }
 
    &.on {
        > svg:first-child {
            display: block;
        }

        > svg:first-child + svg {
            display: none;
        }
    }
}

.svg-button {
    width: 2rem;
    height: 2rem;

    @include button-effects($prop: fill);
}

.text-button {
    font-size: 1.5rem;

    @include button-effects($prop: color);
}

.solid-button {
    color: var(--background);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 2rem;

    @include button-effects($prop: background-color);
}

.reset-button {
    font-size: 1.8rem;
    
    @include button-effects($prop: color);
}