@use '../abstracts' as *;

.gameboard {
    display: grid;
    grid-template-areas:
        '    .    x-coords'
        'y-coords fleet ';
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
}

.x-coords {
    @include repeat-grid($columns: 10);
    grid-area: x-coords;

    > div {
        @include center-content;
        width: $square-size;
        height: $square-size;
    }
}

.y-coords {
    @include repeat-grid($rows: 10);
    grid-area: y-coords;

    > div {
        @include center-content;
        width: $square-size;
        height: $square-size;
    }
}

.fleet {
    @include repeat-grid($columns: 10, $rows: 10);
    grid-area: fleet;
    border: 2px solid var(--font);

    > .square {
        border: 2px solid var(--font);
        width: $square-size;
        height: $square-size;
        position: relative;

        &.water {
            background-color: var(--water);
        }

        &.sunken {
            background-color: var(--secondary);
        }

        > .ship {
            position: absolute;
        }
    }
}