@use '../abstracts' as *;

.ship-dock {
    @include center-content;
    flex-wrap: wrap;
    width: calc(clamp(5rem, 25vw, 12.5rem) + 2rem);
    padding: 1rem;
    gap: 1rem;
}

.ship {
    background-color: var(--light-opaque);

    &.selected {
        background-color: var(--secondary);
    }
}
