@mixin button-effects($prop) {
    cursor: pointer;
    transition: $prop 0.25s ease-in-out;
    #{$prop}: var(--font);

    &:hover { #{$prop}: var(--secondary); }
    &:active { #{$prop}: var(--light-opaque); }
    &:disabled {
        #{$prop}: var(--light-opaque);
        cursor: auto;
    }
}