@use 'styles/base';
@use 'styles/layout';
@use 'styles/components';

.ship {
    position: relative;
}

.ship-status > div {
    width: 3rem;
    height: 1rem;
    background-image: linear-gradient(red 100%);
}

.fleet-status > div {
    width: 1.5rem;
    height: 0.5rem;
}