@use 'styles/base';
@use 'styles/layout';
@use 'styles/components';

.ship {
    position: relative;
}

.ship-status > div {
    width: 150xp;
    height: 50px;
    background-image: linear-gradient(red 100%);
}